@mixin flex($justify-content,$align-items){
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}
@mixin flex-vertical {
    display: flex;
    flex-direction: column;
}